<!DOCTYPE html>
<html>
  <head>
    <title>CBill</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>tailwind.config = { corePlugins: { preflight: false } }</script>
    <script src="https://kit.fontawesome.com/b45a87b3cb.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <alert class="notice"><%= notice %></alert>
    <alert class="alert"><%= alert %></alert>
  </body>
</html>
